* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #124258;
  font-family: "Google Sans Flex", "Arial Narrow", Arial, sans-serif;
  color: #d1d3d4;
  margin: 0;
  padding: 0;
}

header {
  padding: 1.5rem rem;
  background-color: #1d1c1c;
}

h1 {
  color: #2FA5E1;
  font-size: 3em;
  text-align: center;
  padding: 1.5rem 2rem;
  border-bottom: 5px solid #2FA5E1;
}

h2,
h3,
h4 {
  color: #2FA5E1;
  font-size: 3em;
  text-align: center;
}

p {
  color: #F5CA2F;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

main {
  padding: 3rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.alcanzes-titulo {
  font-size: 1.1 rem;
  letter-spacing: 0.05 rem;
  text-transform: uppercase;
  margin-bottom: 0.25 rem;
  color: #e90577;
}

.precio {
  font-weight: bold;
  color: #2FA5E1;
}

footer {
  background-color: #fff;
}

footer p {
  color: #000 !important;
  text-transform: uppercase;
}

.footer {
  font-weight: 100;
  font-size: 1.1 rem;
  text-transform: arial;
}

#cotizacion-diaria {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e90577;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.nav .nav-item {
  padding: 5px;
  color: #000;
  background-color: #ffffff;
}

.nav .nav-item:hover {
  background-color: #2FA5E1;
  color: #F5CA2F;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 0px;
  left: -50px;
  width: 120px;
  height: auto;
  z-index: 1000;
  padding: 0px;
}

/* Botón ☰ */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    font-size: 25px;
    padding: 10px 15px;

    background-color: #000000;
    color: #ffffff;

    border: none;
    cursor: pointer;

    z-index: 1001;
}

/* Menú lateral */
.menu-lateral {
    position: fixed;

    top: 0;
    left: -280px;

    width: 280px;
    height: 100vh;

    background-color: #000000;

    padding-top: 70px;

    transition: 0.3s;

    z-index: 1000;
}

/* Cuando el menú está abierto */
.menu-lateral.activo {
    left: 0;
}

/* Título */
.menu-lateral h2 {
    color: #2FA5E1;
    text-align: center;
    margin-bottom: 30px;
}

/* Enlaces */
.menu-lateral a {
    display: block;

    padding: 18px 25px;

    color: #F5CA2F;
    text-decoration: none;
    

    font-size: 18px;
}

/* Efecto al pasar el mouse */
.menu-lateral a:hover {
    background-color: #2FA5E1;
}

/* Botón cerrar */
.cerrar-btn {
    position: absolute;

    top: 20px;
    right: 20px;

    background: none;
    border: none;

    color: rgb(240, 0, 0);
    font-size: 25px;

    cursor: pointer;
}